.Account {
	width: 100%;
	height: 100vh;
}

.Login {
	position: relative;
	width: 26rem;
	height: auto;
	padding: 2rem 0;

	flex-direction: column;

	transition: all .3s cubic-bezier(.25,.8,.25,1);

	color: #e8e9f2;
	border-radius: 2px;
	background: #354854;
	box-shadow: 0 10px 20px rgba(15, 31, 44, .2), 0 6px 6px rgba(0, 0, 0, .2);

	&:hover {
		background: #3a4f5c;
		box-shadow: 0 14px 28px rgba(15, 31, 44, .25), 0 10px 10px rgba(0, 0, 0, .22);
	}

	header {
		padding: 2rem 0 1rem 0;

		flex-direction: column;

		> img {
			width: 160px;
		}

		> h1 {
			margin-top: 2rem;

			font-size: 1.2rem;
			font-weight: 400;
		}
	}

	footer {
		padding-top: 1rem;

		flex-direction: row;

		gap: 2rem;
	}

	form {
		padding: 1rem 0;

		flex-direction: column;

		label {
			position: relative;
			padding: 1.5rem 0;

			display: flex;
			justify-content: flex-start;
			align-items: center;

			&.focused {
				h5 {
					top: -.5rem;
				}

				input {
					background: #9bb8ca;
				}
			}

			h5 {
				position: absolute;
				top: 2.5rem;
				margin-left: 1rem;

				transition: all .3s cubic-bezier(.25,.8,.25,1);

				color: #e8e9f2;
			}

			input {
				box-sizing: border-box;
				width: 22rem;
				height: 3rem;
				padding-left: 1rem;

				color: #202a34;
				background: #637d8d;

				font-size: 1rem;
			}
		}

		.submit {
			padding: .5rem 1rem;

			transition: all .3s cubic-bezier(.25,.8,.25,1);

			color: #e8e9f2;
			border-radius: 4px;
			background: #597281;

			font-size: 1rem;
			font-weight: 400;

			&:hover {
				background: #637d8d;
			}
		}
	}
}