@import '../../StylesVariables';

.Nav {
	position: relative;
	width: 60px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	background-color: #3d3b5b;

	> .Nav-Logo {
		position: absolute;
		top: 5px;
		width: 70px;
	}

	> .Nav-Avatar {
		width: 40px;
		height: 40px;
		margin: 20px;

		overflow: hidden;

		transition: .2s;

		border-radius: 20px;

		&::after {
			position: absolute;
			width: 40px;
			height: 40px;

			content: '';
			transition: .2s;

			opacity: 0;
			border-radius: 20px;
			background-color:white;
		}

		&:hover {
			border-radius: 10px;

			&::after{
				opacity: .2;
				border-radius: 10px;
			}
		}

		> .Nav-Avatar-Image {
			position: relative;
			width: 40px;
			height: 40px;
		}
	}

	> .Nav-Button {
		position: relative;
		width: 40px;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 20px;

		font: 28pt Nebrosco;

		&::after {
			position: absolute;
			width: 40px;
			height: 40px;

			content: '';
			transition: .2s;

			opacity: 0;
			border-radius: 20px;
			background-color:white;
		}

		&:hover {
			&::after{
				width: 40px;
				height: 40px;

				opacity: .15;
				border-radius: 10px;
			}
		}
	}

	.selected {
		&::after{
			width: 40px;
			height: 40px;

			opacity: .1;
			border-radius: 10px;
		}
	}
}